FANZA_API_ID=
FANZA_AFFILIATE_ID=
DMM_API_ID=
DMM_AFFILIATE_ID=
DUGA_ACTRESS_FEED_URL=
APEX_ACTRESS_FEED_URL=
MGS_ACTRESS_FEED_URL=
SOD_ACTRESS_FEED_URL=
DTICASH_ACTRESS_FEED_URL=

VITE_DMM_AFFILIATE_ID=
VITE_FANZA_AFFILIATE_ID=
VITE_DUGA_AFFILIATE_URL=
VITE_MGS_AFFILIATE_URL=
VITE_SOD_AFFILIATE_URL=
VITE_DTICASH_AFFILIATE_URL=

VITE_SUKIMA_API_URL=http://localhost:8787
